@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --root-background-color: #f9f6f4;
    --header-height: 56px;
    --content-height: calc(100% - var(--header-height));
    --content-margin: 16px;

    /* tags: h, p */
    --text-primary-color: #1e0d03;

    /* Table colors */
    --table-head-background: #f1f4f8;
    --table-even-row-background: #f7f8fb;
    --table-odd-row-background: #ffffff;

    /* #1E0D03 */
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: var(--root-background-color);
}

#root {
    height: 100%;
    width: 100%;
}
